<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>soap essential submitter</title>
    <style>

    </style>
</head>
<body>
<br><br><br><br><br><font size="huge"><marquee>i fucking love personal hygiene</marquee></font>
<br><br><center>if you don't know what this service is for, you do not need to use it
<br>if you have been directed to use this service by someone and you are seeing this page, you are not following the instructions properly
<br>have a nice day</center>
</body>
</html>
